body, #eight, #nine, #ten, #eleven {
    min-height: 100vh;
}

.bkg_eleven {
    background-image: url("../img/bkg_eleven.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.div-transparent {
    background-color: rgba(36, 32, 30, .5);
}